@model Cursos

<h1>Insertar Curso</h1>
@Html.ValidationSummary()
<form asp-action="InsertarCurso" method="post">

<div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" asp-for="Nombre" />
</div>
<div class="form-group">
    <label>Descripcion:</label>
    <input type="text" class="form-control" asp-for="Descripcion" />
</div>

<div class="form-group">
    <label>Ciclo:</label>
    <input type="text" class="form-control" asp-for="Ciclo" />
</div>
    <input type="text" style="display: none;" class="form-control" asp-for="UsuarioId" value="1" />
<button type="submit">Registrar</button>

</form>